.from-navy {
  --tw-gradient-from: #0A1A3B var(--tw-gradient-from-position);
  --tw-gradient-to: rgb(10 26 59 / 0) var(--tw-gradient-to-position);
  --tw-gradient-stops: var(--tw-gradient-from), var(--tw-gradient-to);
}
